<!-- Header
 ================================================== -->
<header id="home" #header>

  <nav id="nav-wrap" [ngClass]="{'opaque': isHeaderOpaque}" *ngIf="!isHeaderHidden">

    <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
    <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

    <ul id="nav" class="nav">
      <li class="current"><a class="smoothscroll" href="#home">Home</a></li>
      <li><a class="smoothscroll" href="#about">About</a></li>
      <li><a class="smoothscroll" href="#upcoming">Competitions</a></li>
      <li><a class="smoothscroll" href="#proficiency">Proficiencies</a></li>
    </ul>
    <!-- end #nav -->

  </nav>
  <!-- end #nav-wrap -->

  <div class="row banner">
    <div class="banner-text">
      <h1 class="responsive-headline">J.O. LEE</h1>
      <div class="row">
        <div class="four columns">
          <h2>Medical Doctor</h2>
        </div>
        <div class="four columns">
          <h2>Data Scientist</h2>
        </div>
        <div class="four columns">
          <h2>Front-End Developer</h2>
        </div>
      </div>
      <h3><span>Jung Oh Lee</span> from South Korea, <br>believing that science can make the world better. <br>Learn more <a class="smoothscroll" href="#about">about me</a>.</h3>
      <hr />
      <ul class="social">
        <li><a href="https://github.com/JungOhLee"><i class="fa fa-github"></i></a></li>
        <li><a href="https://www.facebook.com/jungoh.lee.16"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://www.linkedin.com/in/jolee-the-md"><i class="fa fa-linkedin"></i></a></li>
      </ul>
    </div>
  </div>

  <p class="scrolldown">
    <a class="smoothscroll" href="#about"><i class="icon-down-circle"></i></a>
  </p>

</header>
<!-- Header End -->

<!-- About Section
================================================== -->
<section id="about">

  <div class="row">

    <div class="four columns main-col">

      <h1>About me</h1>
      <p>
        <span>A {{age}} YO male in Seoul</span><br><br>
        <span>Dreaming to make a better world with medicine and information technology</span><br><br>
        <span>#Deep_Leearning #Precision_Medicine #Web&Mobile_App</span>
      </p>

    </div>

    <div class="eight columns">

      <h2>Education</h2>

      <p>
        <span>2008 - 2010 Deajeon Science High School</span>
        <br>
        <span>2010 - 2016 M.D., Seoul National University College of Medicine</span>
        <br>
        <span>2017 - 2019 M.S., Korea National Open University, Statistics</span>
        <br>
      </p>
      <h2>Career</h2>

      <p>
        <span>2016 - 2019 Public Health Physician, Incheon and Nonsan</span>
        <br>
        <span>2019 - 2020 Medical Intern in Seoul National University Hospital</span>
        <br>
        <span>2020 -  Radiology Resident in Seoul National University Hospital</span>
      </p>

      <div class="row">

        <div class="columns contact-details">

          <h2>Contact Details</h2>
          <p class="address">
            <span>Jung Oh Lee</span><br>
            <span>jolee.me92@gmail.com</span>
          </p>

        </div>

        <!--<div class="columns download">-->
          <!--<p>-->
            <!--<a href="#" class="button"><i class="fa fa-download"></i>Resume, Upcoming soon..</a>-->
          <!--</p>-->
        <!--</div>-->

      </div>
      <!-- end row -->

    </div>
    <!-- end .main-col -->

  </div>

</section>
<!-- About Section End-->


<!-- Upcoming Section
  ================================ -->
<section id="upcoming" style="padding: 90px 0 10px; background: #fff;">
  <div class="row add-bottom">

    <div class="twelve columns">

      <h1>Competitions</h1>
      <br>
      <div class="row">
        <div class="six columns">
          <h3><span class="lead">Korea Clinical Datathon 2018</span></h3>
          <p class="lead add-bottom">
            Data Analysis competition with MIMIC-III dataset<br>
            Won 2nd prize with the modeling analysis: <br>
            "Predicting 28-day mortality of patients with chronic liver disease at ICU"
            <br> MIMIC-III: <a href="https://mimic.physionet.org/">https://mimic.physionet.org/</a><br> Korea Clinical Datathon 2018 <a href="http://data.withsystem.com/index_2018.html">Link</a>
          </p>
        </div>
        <div class="six columns">
          <img src="/src/assets/images/1541310491639.jpg" alt="" style="max-height: 400px">
        </div>
      </div>


      <h3><span class="lead">Naver Data Science Competition 2018</span></h3>
      <p class="lead add-bottom">
        Entered the top 30 entry<br> Naver Data Science Competition 2018 <a href="https://www.edwith.org/datacompetition2018/">Link</a>
      </p>

    </div>

  </div>
</section>


<!-- Resume Section
   ================================================== -->
<section id="proficiency">
  <div class="row">
    <div class="twelve columns">
      <h1 class="title">Proficiencies</h1>
      <br>
    </div>
  </div>

  <!-- Data Science
      ----------------------------------------------- -->
  <div class="row work">

    <div class="three columns header-col">
      <h1><span>Data Science</span></h1>
    </div>

    <div class="nine columns main-col">

      <div class="row item">

        <div class="twelve columns">
          <h3>Statistical Analysis</h3>
          <p class="info">R, Python</p>
          <p>
            Proficient in wide range of statistical analysis, e.g. survival analysis, regression with generalized linear models, hypothesis testing(t-test, Wilcoxon test, chi-square test, etc), visualizing data, etc. <br>
            <a href="http://nbviewer.jupyter.org/github/JungOhLee/naver_competition/blob/master/BreastAnalysisInPython.ipynb">sample code</a>
          </p>
        </div>

      </div>
      <!-- item end -->

      <div class="row item">

        <div class="twelve columns">
          <h3>Machine Learning & Deep Learning</h3>
          <p class="info">Python, <em>Pytorch, Tensorflow, Keras</em></p>
          <p>
            Proficient in variety of models, e.g. Naive-Bayes, Random Forest, CNN, GAN, etc <br>
            <a href="https://nbviewer.jupyter.org/github/JungOhLee/HandsOnStudy/blob/master/Ch13-CNN.ipynb">sample code</a>
          </p>
          <p>
            Currently working on multiple medical papers using deep learning<br>
            <a href="https://nbviewer.org/github/JungOhLee/BoneMeta_nb/blob/main/BoneMeta_3D_v1.1_All192_DropRes.ipynb">sample code</a>
          </p>
          <ul class="disc">
            <li>[Submitted] Deep Learning-based Automated Quantification of Coronary Artery Calcification for Contrast-enhanced Coronary Computed Tomographic Angiography</li>
            <li>[Editing] A Deep Learning-Based Approach for Automated Detection of Bone Metastases on Abdominal and Thoracic CT</li>
            <li>[Working] Survival Prediction with Deep Learning Model in Glioblastoma</li>
          </ul>
        </div>

      </div>
      <!-- item end -->

    </div>
    <!-- main-col end -->

  </div>
  <!-- End Data Science -->

  <!-- Front-End Development
      ----------------------------------------------- -->
  <div class="row education">

    <div class="three columns header-col">
      <h1><span>Front-End Development</span></h1>
    </div>

    <div class="nine columns main-col">

      <div class="row item">

        <div class="twelve columns">
          <h3>HTML, CSS, JavaScript</h3>
        </div>

      </div>
      <!-- item end -->

      <div class="row item">

        <div class="twelve columns">
          <h3>Angular, React</h3>
          <p>This website's github <a href="https://github.com/JungOhLee/my-homepage">link</a></p>
          <!--<p>Reference project <a href="#">link - not yet working</a></p>-->
        </div>

      </div>
      <!-- item end -->
      <!-- <div class="row item">

        <div class="twelve columns">
          <h3>Comming Soon</h3>
          <ul class="disc">
            <li>React</li>
            <li>React Native</li>
          </ul>
        </div>

      </div> -->
      <!-- item end -->

    </div>
    <!-- main-col end -->

  </div>
  <!-- End Front-End Development -->
  <!-- End Proficiency -->

</section>
<!-- Resume Section End-->



<!-- footer
 ================================================== -->
<footer>
  <div class="row">

    <div class="twelve columns">
      <div class="twelve columns add-bottom">

        <h3>Let's be better everyday</h3>

        <blockquote>
          <p>Rome wasn't built in a day</p>
          <cite>Cervantes, Don Quixote</cite>
        </blockquote>
      </div>
      <ul class="copyright">
        <li>Edited by <a href="#about">JOLEE</a></li>
        <li>Original Design by <a href="http://www.styleshout.com/" title="Styleshout" target="_blank">Styleshout</a></li>
      </ul>

    </div>

    <div id="go-top" style="display: block;"><a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a></div>

  </div>

</footer>
<!-- Footer End-->
